* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: #fff;
}
body {
  background: linear-gradient(#200016, #10001f);
  height: 100vh;
  font-family: "Roboto Mono", monospace;
}
header {
  z-index: 100;
}
header ul li {
  margin: 0 15px;
}
header ul li a {
  padding: 5px 15px;
  border-radius: 20px;
  transition: all 1s;
}
header ul li a:hover,
.active {
  background-color: #fff;
  color: #200016;
}
.main {
  height: 100vh;
  overflow: hidden;
}
.main::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 100%;
  background: linear-gradient(to top, #200016, transparent);
}
.main img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#moon {
  mix-blend-mode: screen;
  transform: translateY(80px);
}
.malak {
  font-size: 1.75rem;
  transform: translateY(-140px);
}
.content p {
  margin: 1.5rem;
}
